* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #666666;
    font-family: 'Epilogue', sans-serif;
    vertical-align: baseline;
    line-height: 180%;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Epilogue', sans-serif;
    color: #032e42;
    line-height: 120%;
    font-weight: 700;
}
section{
    overflow: hidden;
}

:root {
    --dark-gray: rgb(59, 64, 82);
    /* --dark-red: rgb(187, 11, 11); */
    --dark-red:#6684f9;
    --artish-blue: rgb(3, 46, 66);
    --col-wh: rgb(255, 255, 255);
    --col-bla: rgb(0, 0, 0);
    --dark-charcol: rgb(51, 51, 51);
    --light-bla: rgb(102, 102, 102);
}

a {
    text-decoration: none;
    text-transform: capitalize;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

.thumbnail-container {
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.thumbnail-container.object-fit .thumbnail img {
    width: 100%;
    height: 100%;
}

.thumbnail-container .thumbnail {
    margin: 0;
    display: block;
    padding: 0;
    border: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background: 0 0;
}

.thumbnail-container .thumbnail img {
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.py-120 {
    padding: 120px 0px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pt-120 {
    padding-top: 120px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* common primary-btn-css */
.primary-btn {
    font-size: 15px;
    background: var(--dark-red);
    padding: 10px 30px;
    border-radius: 0px;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    position: relative;
    overflow: hidden;
    top: 3px;
    border: none;
    border-radius: 0 10px 0 10px;
    margin-left: 30px;
    text-transform: capitalize;
    transition: all .3s linear;

}
.primary-btn:hover{
    background-color: var(--artish-blue);
}

/* common secondary-btn-css */

.secondary-btn {
    padding: 14px 34px;
    color: var(--artish-blue);
    background-color: var(--col-wh);
    border-radius: 0 10px 0 10px;
    transition: all .3s linear;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 17px;
}

.secondary-btn:hover {
    background-color: var(--artish-blue);
    color: var(--col-wh);
}

/* ----------header section start---------------- */

header {
    background-color: var(--col-wh);
}

header .bg-color {
    background-color: var(--artish-blue);
    border-radius: 0px 0px 10px 10px;
}

.left-link {
    font-size: 15px;
    color: var(--col-wh);
    display: flex;
    align-items: center;
    padding: 11px 0px;
    transition: all .3s linear;
    text-transform: lowercase;
}

.left-link i {
    font-size: 18px;
    color: var(--dark-red);
    margin-right: 10px;
    display: inline-block;
}

.left-link:hover {
    color: var(--dark-red);
}

.top-link {
    font-size: 15px;
    display: inline-block;
    margin-right: 13px;
    color: var(--col-wh);
    transition: all .3s linear;
}

.top-link:hover {
    color: var(--dark-red);
}

.nav-logo img {
    max-height: 100px;
}

.menu-bar li {
    position: relative;
    margin-right: 32px;
}

header .nav-link {
    font-size: 17px;
    color: var(--dark-gray);
    font-weight: 800;
    padding-right: 14px;
    display: inline-block;
    line-height: 108px;
    margin-right: 10px;
    transition: all .35s linear;
}

header .nav-item .nav-link {
    position: relative;
    transition: all .35s linear;
}

.search-icon {
    color: var(--dark-gray);
    font-size: 16px;
}

.humburger {
    display: none;
}

.humburger .btn {
    padding: 0;
}

.humburger-btn {
    padding: 16px 13px 16px;
    background: transparent;
    max-width: 50px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 2px;
    padding-right: 0;
    margin-left: 28px;
    border: 0;
}

.humburger-btn .btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active {
    border: none;
}

.humburger-btn span {
    height: 5px;
    width: 5px;
    display: block;
    background: var(--dark-red);
    border-radius: 50%;
    margin: 2px 3px;
}

.addres {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.add-icon {
    font-size: 25px;
    display: inline-block;
    margin-right: 20px;
    color: transparent;
    -webkit-text-stroke: 1px var(--dark-red);
}

.scrolled {
    background-color: var(--col-wh);
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.scrolled .search-icon {
    display: none;
}

/* ----------header section End---------------- */

/* ----------baner section css start----------- */

.baner-section {
    overflow: hidden;
    position: relative;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background: var(--dark-charcol);
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 22px;
}

.carousel-item img {
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}

.carousel-caption {
    position: relative;
    left: 0;
    padding: 100px 0px;
    top: 0;
}

.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
    filter: none;
}

.baner-items {
    background: var(--dark-red);
    padding: 100px 60px;
    text-align: left;
    border-radius: 0px 64px;
    height: 100%;
    max-width: 550px;
    text-align: justify;
}

.b-subtitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 200%;
    text-transform: uppercase;
    color: var(--col-wh);
    display: block;
    margin-bottom: 10px;
}

.baner-heading {
    font-size: 39px;
    color: var(--col-wh);
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.baner-containt p {
    color: var(--col-wh);
    margin-bottom: 40px;
    line-height: 200%;
}

/* ----------baner section css end----------- */

/* -----service section css start-------- */

.service-section {
    background-color: #FBFBFB;
    padding: 120px 0px 166px 0px;
    position: relative;
    z-index: 1;
}

.service-section::before {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40.40%;
    background-color: var(--dark-red);
    bottom: 0;
    content: "";
    z-index: -1;
}

.service-section .nav-link img {
    width: 35px;
    display: inline-block;
    margin-right: 10px;
}

.service-section .nav-link {
    font-size: 18px;
    display: inline-block;
    margin-right: 30px;
    font-weight: 600;
    background-color: var(--col-wh);
    color: var(--artish-blue);
    padding: 17px 20px;
    border-radius: 0px 10px;
    text-transform: capitalize;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.04);
}

.service-section .service-data .nav-link span {
    position: relative;
    display: inline-block;
}

.nav-image-1 {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.nav-image-2 {
    opacity: 1;
}

.service-section .service-data .nav-pills .nav-link.active,
.service-data .nav-pills .nav-link:hover {
    background-color: var(--artish-blue);
    color: var(--col-wh);
}

.service-section .service-data .nav-pills .nav-link:hover .nav-image-1 {
    opacity: 1;
}

.service-section .service-data .nav-pills .nav-link:hover .nav-image-2 {
    opacity: 0;
}

.service-section .service-data .nav-pills .active .nav-image-1 {
    opacity: 1;
}

.service-section .tab-content {
    margin-top: 30px;
    padding: 30px 40px 50px 60px;
    background: var(--col-wh);
    border-radius: 5px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.03);
}

.service-desc {
    padding: 50px 40px 10px 10px;
}

.ser-tittle {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 26px;
    text-transform: capitalize;
}

.ser-desc i {
    font-size: 21px;
    color: var(--dark-red);
    display: inline-block;
    margin-right: 12px;
}

.ser-desc {
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.service-image {
    margin-bottom: -136px;
}

.service-image img {
    max-width: 100%;
}

/* -----service section css end-------- */

/* -------------about section css start -----------------*/

.mb-40 {
    margin-bottom: 40px;
}

.ps-40 {
    padding-left: 40px;
}

.sub-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--dark-red);
    display: inline-block;
    margin-bottom: 10px;
}

.sub-head {
    font-size: 36px;
    line-height: 130%;
    font-weight: 700;
    color: var(--artish-blue);
    margin-bottom: 23px;
    text-transform: capitalize;
}

.sub-min {
    font-size: 16px;
    line-height: 175%;
    font-weight: 400;
}

.about-wrap {
    padding: 25px;
}

.about-image img {
    height: 50px;
    width: 50px;
}

.head-tittle {
    font-size: 22px;
    font-weight: 700;
    margin: 16px 0px 10px 0px;
    color: var(--artish-blue);
    text-transform: capitalize;
}

.about-item {
    transition: all .4s linear;
}

.about-data .active,
.about-item:hover {
    box-shadow: 3px 7px 25px #eee;
    background-color: var(--col-wh);
}

/* -------------about section css end -----------------*/

/* ------chat section css start-------- */

.chat-section {
    background-image: url(../images/cta-bg1.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 116px 0px 114px 0px;
    overflow: hidden;
}

.chat-section .sub-head {
    font-size: 42px;
    line-height: 135%;
    color: var(--col-wh);
    font-weight: 700;
}

.chat-btn .btn {
    color: var(--dark-red);
    font-weight: 600;
}

/* ------chat section css End-------- */

/* --------faq section css Start----- */

.faq-data {
    margin-right: 45px;
}

 .accordion-item {
    margin-bottom: 30px;
    border: none;
    background-color: var(--col-wh);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 11%);
    border-radius: 0px 10px 0px 10px;
}

.accordion-button {
    padding: 17px 25px 17px 25px;
    font-size: 18px;
    font-weight: 600;
    color: var(--artish-blue);
    height: 60px;
}

 .accordion-item .accordion-button,
 .accordion-item .accordion-button.collapsed {
    border-radius: 0px 10px 0px 10px;
}

.accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: var(--dark-red);
    color: var(--col-wh);
}

.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "+";
    background-image: none;
    font-size: 30px;
    font-weight: 600;
    line-height: 73%;
    transition: .1s linear;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    transform: none;
    content: "-";
}

.accordion-body {
    background-color: var(--col-wh);
    color: var(--light-bla);
    font-size: 16px;
    padding: 30px 25px 30px 25px;
}

.faq-content-2 {
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.07);
    padding: 77px 60px 60px 60px;
    border-radius: 5px 5px 5px 5px;
    background-color: var(--col-wh);
}

.from-control {
    border: none;
    border-bottom: 1px solid #F8F3F3;
    padding: 20px 0px 10px 0px;
    font-size: 16px;
    text-transform: capitalize;
    width: 100%;
}

.mb-25 {
    margin-bottom: 25px;
}

.submit-btn .btn {
    text-transform: capitalize;
    margin-top: 0;
}

/* --------faq section css End----- */


/* ------footer section css start--------- */

footer {
    background-color: var(--artish-blue);
}

.top-foter {
    padding: 80px 0px 75px 0px;
}

footer .company-logo img {
    height: 80px;
    margin-bottom: 50px;
}

.foter-text {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 33px;
    color: var(--col-wh);
}

.foter-info {
    padding-left: 75px;
}

.foter-heading {
    font-size: 18px;
    margin-bottom: 44px;
    line-height: 130%;
    padding-bottom: 10px;
    position: relative;
    color: var(--col-wh);
    text-transform: uppercase;
}

.foter-heading::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 44px;
    height: 3px;
    background-color: var(--dark-red);
    content: "";
}

.store-image img {
    max-width: 100%;
}

.addres-area li {
    padding: 0px 0px 29px 30px;
}

.addres-area i {
    font-size: 24px;
    color: transparent;
    -webkit-text-stroke-color: var(--dark-red);
    -webkit-text-stroke-width: 1px;
    display: inline-block;
    position: absolute;
    left: -12px;
}

.addres-area span {
    color: var(--col-wh);
    font-weight: 400;
}

.foter-link {
    color: var(--col-wh);
    transition: .35s linear;
}

.foter-link:hover {
    color: var(--dark-red);
}

.useful-links li {
    padding: 6px 0px;
    margin-bottom: 6px;
}

.submit-area .form-control {
    padding: 15px 20px;
    font-size: 14px;
    width: 100%;
    background: #00344C;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: var(--col-wh);
}

.submit-area .form-control::placeholder {
    color: rgba(255, 255, 255, 0.753);
}

.form-control:focus {
    box-shadow: none;
}

.submit-btn {
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    background-color: var(--dark-red);
    color: var(--col-wh);
    font-weight: 600;
    border-radius: 4px;
    border: 0;
    text-transform: capitalize;
    transition: .2s linear;
}

.submit-btn:hover {
    opacity: .9;
}

.bottom-foter {
    background-color: #00344c;
    padding: 20px 0px;
}

.copy-right {
    color: var(--col-wh);
    font-size: 15px;
}

.back-to-top {
    height: 42px;
    font-size: 18px;
    width: 42px;
    border-radius: 0 10px 0 10px;
    color: var(--col-wh);
    background: var(--dark-red);
    position: fixed;
    z-index: 99;
    bottom: 48px;
    right: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s linear;
    cursor: pointer;
}

.back-to-top:hover {
    opacity: .8;
}

/* ------footer section css End--------- */

/* -----------------min width media quary start---------- */

@media (min-width:1199px) {

    header .main-nav .active,
    header .nav-link:hover {
        color: var(--dark-red);
    }

    .sub-menu .sub-link:hover {
        color: var(--dark-red);
    }

    .sub-menu .active,
    .sub-menu .sub-link:hover {
        color: var(--dark-red);
    }

    header .nav-item:hover .sub-menu {
        display: block;
    }

    .sub-menu li:hover .sub-menu2 {
        display: block;
    }

}

/* ---------------- 1200-min width media quary start---------- */

@media (min-width:1200px) {

    .container {
        max-width: 1200px;
        width: 100%;
    }

}

/*--------- min width and max width media quary start---------- */

@media (min-width:992px) and (max-width:1199px) {
    .sub-head {
        font-size: 30px;
    }
}

@media (max-width: 992px) and (min-width: 768px) {

    .testi-wrap {
        padding: 60px 30px;
    }

    .testi-icon img {
        height: 28px;
        position: absolute;
        right: 16px;
        bottom: 97px;
    }
}

/*--------- min width and max width media quary End ------------*/



/* ----------------max width media quary start----------- */

/* ----------------1199px-max width media quary start----------- */

@media (max-width:1199px) {

    .humburger {
        display: block;
    }

    .main-nav {
        position: fixed;
        right: 0;
        bottom: 0;
        top: 0;
        width: 250px;
        background-color: white;
        padding: 30px 20px 20px 20px;
        z-index: 9999;
        right: -250px;
        transition: all .5s ease-in-out;
    }

    .menuoverlab .main-nav{
        right: 0;
    }

    .search-btn {
        display: none;
    }
    header .menu-bar li{
        margin-right: 0;
    }

    header .nav-link {
        display: block;
        width: 100%;
        font-size: 10px;
        border-bottom: 1px solid var(--dark-red);
        font-weight: 600;
        margin-right: 0;
        line-height: 278%;
        color: var(--dark-red);
        padding-right: 0;
    }

    header .nav-item .nav-link::after {
        font-size: 34px;
        font-weight: 300;
        right: 0;
    }

    .work-box {
        padding: 60px 23px 60px 23px;
    }

    .project-section .sub-head {
        font-size: 33px;
    }

    .foter-info {
        padding-left: 50px;
    }

}

/* ---------------1024px-max width media quary start----------- */

@media (max-width:1024px) {

    .top-head {
        display: none;
    }

    .baner-items {
        padding: 60px;
    }

    .baner-heading {
        font-size: 40px;
    }
}

/* ---------------992px-max width media quary start----------- */

@media (max-width:991px) {

    .scrolled {
        position: relative;
    }

    .nav-logo img {
        max-height: 36px;
    }

    .pb-120 {
        padding-bottom: 80px;
    }

    .about-data {
        margin-top: 50px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        display: none;
    }

    .baner-items {
        max-width: 450px;
        padding: 70px 40px;
    }

    .ps-40 {
        padding-left: 10px;
    }

    .py-120 {
        padding: 80px 0px;
    }

    .service-section::before {
        display: none;
    }

    .project-section::before {
        display: none;
    }

    .testimonial-section::before {
        display: none;
    }

    .testi-text {
        font-size: 16px;
    }

    .service-section {
        padding: 80px 0px;
    }

    .service-section .tab-content {
        padding: 30px 30px 50px 40px;
    }

    .service-image {
        margin-bottom: 0;
        margin-top: 20px;
    }

    .service-section .nav-item {
        width: 100%;
        display: grid;
        margin-bottom: 7px;
    }

    .service-section .nav-link {
        display: block;
        text-align: left;
        margin-right: 0;
    }

    .ser-tittle {
        font-size: 24px;
    }

    .project-section {
        padding: 80px 0px 75px 0px;
    }

    .work-box {
        padding: 60px 35px 60px 35px
    }

    .mb-lg-50 {
        margin-bottom: 50px;
    }

    .service-section .mb-40 {
        margin-bottom: 40px;
    }

    .pricing-section .mb-40 {
        margin-bottom: 40px;
    }

    .mb-40 {
        margin-bottom: 25px;
    }

    .chat-section {
        padding: 75px 0px;
    }

    .testi-wrap {
        padding: 45px 35px 50px 35px;
    }

    .faq-content-2 {
        padding: 51px 45px 62px 45px;
    }

    .testimonial-section {
        padding: 80px 0px 75px 0px;
    }

    .faq-data {
        margin-bottom: 50px;
        margin-right: 0;
    }

    footer .company-logo img {
        margin-bottom: 30px;
    }

    .foter-info {
        padding-left: 15px;
    }

    .blog-content {
        padding: 35px 30px 37px 25px;
    }

    .company-data {
        padding-left: 14px;
    }

    .addres-area {
        padding-left: 12px;
    }

}

/* ----------------768px- max width media quary start----------- */

@media (max-width:767px) {
    .h-ser-head {
        font-size: 20px;
    }

    .h-service-image img {
        height: 56px;
    }

    .baner-items {
        margin: 0 auto;
        padding: 50px 40px;
    }

    .sub-head {
        font-size: 25px;
    }

    .head-tittle {
        font-size: 20px;
    }

    .ser-tittle {
        font-size: 20px;
    }

    .service-section .tab-content {
        padding: 30px 20px 50px 20px
    }

    .section-tittle .sub-head br {
        display: none;
    }

    .chat-section .sub-head {
        font-size: 25px;
    }

    .faq-content-2 {
        padding: 61px 40px 51px 40px;
    }

    .project-section .sub-head {
        font-size: 25px;
    }

}

/* ----------------567px- max width media quary start----------- */

@media (max-width:567px) {
    .testi-icon img {
        height: 35px;
    }

    .pricing-wrap {
        padding-right: 46px;
    }

}

/* ----------------480px- max width media quary start----------- */
@media (max-width:480px) {

    .humburger-btn {
        margin-left: 0px;
    }

    .baner-items {
        max-width: 303px;
        padding: 37px;
        border-radius: 0;
    }

    .baner-heading {
        font-size: 30px;
    }

    .accordion-button {
        padding: 17px 10px 17px 10px;
        font-size: 12px;
        font-weight: 600;
    }

    .accordion-body {
        font-size: 13px;
    }

    .service-desc {
        padding: 20px 30px 10px 10px;
    }

    .testi-text {
        font-size: 15px;
    }

    .testi-icon img {
        height: 20px;
    }

    .testi-wrap {
        padding: 35px 25px 40px 25px;
    }

    .faq-content-2 {
        padding: 51px 30px 41px 30px;
    }

    .partner-image {
        padding: 0px 20px;
    }
}
